<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Claeus</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <!-- true -->
              <li><%= link_to "Add Listing", new_listing_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "View Profile", user_path(current_user) %></li>
                  <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                  <li><%= link_to "Visit Store" %></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
                  <li><a href="#">Settings</a></li>
                </ul>
              </li>
              <li><%= link_to "Cart" %></li>
            <% else %>
              <li><%= link_to "Log In", new_user_session_path %></li>
              <li><%= link_to "Get Started", new_user_registration_path, class: "button-default" %></li>
              <li><%= link_to "Cart" %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
